html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-image: linear-gradient(to right top, #a41667, #a53f8b, #a15dab, #9979c6, #9292da, #74a8f0, #4abdfd, #00d1ff, #00e5ee, #00f4bb, #7ffb73, #e7f611);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
